page-farmer-main {
  
    .card-background-page {

        ion-card {
          position: relative;
          text-align: center;
        }
      
        .card-title {
          position: absolute;
          top: 10%;
          font-size: 1.5em;
          width: 100%;
          font-weight: bold;
          color: #0e0202;
        }
      
        .card-subtitle {
          font-size: 1.0em;
          position: absolute;
          top: 22%;
          width: 100%;
          color: rgb(10, 1, 1);
        }
      
      }

}
